
<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<p-toast></p-toast>
<div class="card">
    <form  name="form" (ngSubmit)="f.form.valid && checkRestriction()" #f="ngForm">
        <h5>Consulta de restricción de movilidad vehicular</h5>          
        <div class="field grid">
            <label for="plate" class="col-fixed" style="width:100px">Número de Placa: </label>
            <div class="col">
                <p-inputMask [(ngModel)]="plateNumber" #plate="ngModel" name="plate" mask="aaa9999" 
                characterPattern="[A-Z]" minlength="7"  placeholder="ABC0123"
                [required]="true">
                </p-inputMask>
                <div *ngIf="plate.errors">
                    Las placas deben ingresarse con mayúsculas
                </div>
            </div>   
        </div>
        <div class="field grid">
            <label for="date" class="col-fixed" style="width:100px">Fecha Consulta: </label>
            <div class="col">
                <p-calendar  name="date" [(ngModel)]="date" [maxDate]="maxDate" [required]="true"  [showTime]="true" inputId="time">
                </p-calendar>
            </div>
        </div>
        <div class="field grid">
            <p-button icon="pi pi-check" type="submit" label="Consultar" [disabled]="disableButton()"></p-button>
        </div>
    </form>

    <p-dialog header="Información" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
        <p class="m-0">{{message}}</p>
        <p class="m-0">{{vehicle.color}}</p>
        <p class="m-0">{{vehicle.brand}}</p>
        <p class="m-0">{{vehicle.model}}</p>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Aceptar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
