<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<p-toast></p-toast>
<div class="card">
    <form  name="form" (ngSubmit)="f.form.valid && saveVehicle()" #f="ngForm">
        <h5>Datos del Vehículo</h5>
        <div class="field grid">
            <label for="plate" class="col-fixed" style="width:100px">Número de Placa: </label>
            <div class="col">
                <p-inputMask [(ngModel)]="vehicle.plateNumber" minlength="7"
                mask="aaa9999" #plate="ngModel" name="plate" [required]="true"
                characterPattern="[A-Z]" placeholder="ABC0123" minlength="7">
                </p-inputMask>
                <div *ngIf="plate.errors">
                    Las placas deben ingresarse con mayúsculas
                </div>
            </div>    
        </div>
        <div class="field grid">
            <label for="model" class="col-fixed" style="width:100px">Modelo: </label>
            <div class="col">
                <p-dropdown [options]="models" optionLabel="name" optionValue="code"
                 id="model" [required]="true" name="model" [(ngModel)]="vehicle.model"  >
                </p-dropdown>
            </div>
        </div>
        <div class="field grid">
            <label for="brand" class="col-fixed" style="width:100px">Marca: </label>
            <div class="col">
                <p-dropdown [options]="brands" optionLabel="name" id="brand" optionValue="code"
                [required]="true" name="brand" [(ngModel)]="vehicle.brand"  >
                </p-dropdown>
            </div>
        </div>
        <div class="field grid">
            <label for="color" class="col-fixed" style="width:100px">Color: </label>
            <div class="col">
                <p-dropdown [options]="colors" optionLabel="name" id="color" optionValue="code" [required]="true" name="color" 
                [(ngModel)]="vehicle.color" >
                </p-dropdown>
            </div>
        </div>
        <div class="field grid">
            <label for="chassis" class="col-fixed" style="width:100px">Número Chasis: </label>
            <div class="col">
                <input pInputText id="chassis" (input)="vehicle.chassisNumber = chassis.value.toUpperCase()"
                pTooltip="El número de chasis se compone de 17 caracteres"
                 minlength="17" #chassis="ngModel" maxlength="17" type="text" [required]="true" name="chassis" 
                [(ngModel)]="vehicle.chassisNumber" class="p-inputtext-lg" >
                <div *ngIf="chassis.errors">
                    El número de chasis debe contener 17 caracteres
                </div>
                
              
            </div>
        </div>
        <div class="field grid">
            <p-button icon="pi pi-save" type="submit" label="Guardar" [disabled]="!f.form.valid || guardar"></p-button>
            <p-button label="Limpiar" (click)="initializeVehicle()"></p-button>
        </div>
    </form>
</div>